.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 90px;
 }
