

.table__cell {
  width: 250px;
  margin-top: 60px;
}

@import url(./_theme_dark/table__cell_theme_dark.css);

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
