.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  z-index: -2;
  margin-bottom: 0;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  width: 183px;
  height: 32px;
} 

.header__title {
  width: 730px;
  display: flex;
  position: absolute;
  left: 64px; 
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
 }

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
 
.menu__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: -1;
}

.description {  
  display: flex;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 0;
}

 .two-columns {
  width: 80%; 
  margin: auto;
  display: flex;
  justify-content: space-between;
 }

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px; /* тут должна быть мин высота, но не знаю как применить */
}

.two-columns__span-accent {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph { 
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*надо что-то сделать с отступами*/
.digits {
  display: flex;
  background-color: papayawhip;
  flex-direction: column;
  align-items:center;
}

.section-title {
  background-color: palevioletred;
  width: 60%;
  display:flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  background-color: rgb(238, 187, 238);
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  background-color: powderblue;
  /*margin-top: 60px;*/
  display: flex;
  align-items:baseline;
  justify-content: space-around;
}

.table__cell {
  width: 250px;
  background-color: darkturquoise;
  margin-top: 60px;
  }

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
